
/*


!modular/
!corporal/
!video/


!main.py
!orquestador_maestro.py
!orquestador_principal.py
!generador_reportes_pdf.py
!requirements.txt
!README.md
!.gitignore


**/__pycache__/
**/*.pyc
**/*.pyo
**/*.h5
**/*.keras
**/*.tflite
